body {
    margin: 0;
  }
  .container {
    width: 100vw;
    height: 100vh;
  }
  .main2 {
    width: 100vw;
    height: 5vh;
    background-color: rgb(252, 231, 3);
    display: flex;
    gap: 120px;
    justify-content: center;
    padding: 50px;
    position: absolute;
  }
  div.main2 a {
    color: black;
    font: 20px;
    position: relative;
    z-index: 0;
    cursor: pointer;
  }
  div.main2 a:before,
  div.main2 a:after {
    position: absolute;
    opacity: 0.5;
    height: 1px;
    width: 100%;
    content: " ";
    background-color: black;
    transition: all 0.2s;
  }
  div.main2 a:before {
    left: 0px;
    right: 0px;
  }
  div.main2 a:after {
    left: 0px;
    right: 0px;
    bottom: 50%;
  }
  div.main2 a:hover:before,
  div.main2 a:hover:after {
    opacity: 0.1;
    height: 25%;
    width: 100%;
  }